@import '@styles/global.scss';
@import '@styles/variables/mixins.scss';
@import '@styles/variables/colors.scss';

.form {
	position: relative;
	padding: 20px;
	margin-top: 40px;
	padding-bottom: 0;
	border-radius: 8px;
	background-color: $white;
	box-shadow: 0 0 10px 1px $light-black;

	& ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__elem {
		width: 45%;
		margin: 0px 8px;
		padding: 10px 0;
	}

	&__button {
		position: absolute;
		padding: 7px 10px;
		bottom: 34px;
		right: 0;
		margin-right: 28px;
		background-color: $lighter-black;
		border-radius: 5px;

		@include hoverSupport {
			box-shadow: 0 0 3px $black;
		}

		&:focus {
			box-shadow: 0 0 3px $black;
		}
	}
}
