@import '@styles/variables/mixins.scss';
@import '@styles/variables/colors.scss';

.form {
	display: flex;
	flex-direction: column;
	width: 65%;

	h3 {
		margin-bottom: 10px;
		font-size: 1.3rem;
		font-weight: 500;
	}

	&__imgCover {
		margin-right: 5%;
		margin-bottom: 5%;
		width: 30%;

		img {
			width: 100%;
			margin-bottom: 10px;
		}

		input[type='file']:focus {
			outline: dotted 1px $black;
			outline-offset: 4px;
		}
	}

	label {
		position: relative;
		margin-bottom: 10px;
		padding: 5px 0;
		font-weight: 500;
		cursor: pointer;

		input {
			width: auto;
			margin-left: 3%;
			padding: 3px 6px;
			border: 1px solid $dark-black;
			background-color: $lighter-black;
			border-radius: 5px;

			&:focus {
				box-shadow: 0 0 3px $black;
			}
		}

		.wrong {
			border-color: $red;
		}

		.error {
			position: absolute;
			bottom: -10px;
			left: 0%;
			font-size: 13px;
			font-weight: 400;
			color: $red;
		}
	}
}

.buttons {
	margin-left: auto;
	padding: 0.1em 0.3em;

	&__btn {
		box-sizing: content-box;
		width: 16px;
		height: 16px;
		padding: 2px 4px;
		margin-right: 5px;
		color: $dark-black;

		@include hoverSupport {
			color: $black;
		}

		&:focus {
			color: $black;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
