@import '@styles/variables/colors.scss';

.spinner {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 100px 250px;
	margin-right: 0;
}
.spinner:after {
	content: ' ';
	display: block;
	width: 40px;
	height: 40px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid $white;
	border-color: $light-black transparent $light-black transparent;
	animation: rotation 1.2s linear infinite;
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
