@import '@styles/variables/mixins.scss';
@import '@styles/variables/colors.scss';

.bookList {
	position: relative;
	margin-top: 70px;
	width: 48%;

	&__empty {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
	}

	&__heading {
		position: absolute;
		top: -50px;
		left: 1%;
		padding: 10px 15px;
		margin-bottom: 10px;
		font-size: 1.5em;
		font-weight: 500;
	}
}

.table {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	box-shadow: 0 0 10px 1px $light-black;

	&__header {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 10px 15px;
		font-weight: 700;

		& td {
			width: 50%;
		}
	}

	& tbody {
		display: flex;
		flex-direction: column;
	}

	&__row {
		border-bottom: 1px solid $light-black;

		&:last-child {
			border: none;

			& a {
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			}
		}

		&:first-child {
			border-top: 2px solid $light-black;
		}

		td {
			display: flex;
		}
	}

	&__link {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 10px 15px;
		text-decoration: none;
		color: inherit;

		@include hoverSupport {
			background-color: $lighter-black;
		}

		span {
			width: 50%;

			&:first-child {
				margin-right: 5%;
			}
		}
	}
}
